<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
  <a href="/shopping">Back to Shopping List</a>
</nav>
<div class="align">
<div class="list1">
  <h1><%=shopping.name%></h1>
</div>
  <img class="images" src="<%=shopping.img%>">
  <p class="text">Notes: <%=shopping.description%></p>
  <p class="text">Price: $<%=shopping.price%></p>
  <p class="text">Quantity: <%=shopping.qty%></p>
  <div class="text">
  <% if(shopping.alreadyGot === true){ %>
    Item grabbed
  <% } else { %>
    Item not grabbed
 <% } %>
</div>
<div class="delete">
  <form action="/shopping/<%=shopping.id%>?_method=DELETE" method="POST">
  <input type="submit" class="button" value="Delete">
  </form>
</div>
</div>
<button>
  <a class="create" href="/shopping/<%=shopping.id%>/edit">Edit Product</a>
</button>
</body>
</html>