<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
  <a href="/shopping">Back to Shopping List</a>
</nav>
  <h1><%=shopping.name%></h1>
  <img class="images" src="<%=shopping.img%>">
  <p><%=shopping.description%></p>
  <p>price: $<%=shopping.price%></p>
  <% if(shopping.alreadyGot === true){ %>
    Item grabbed
  <% } else { %>
    Item not grabbed
 <% } %>
  <form action="/shopping/<%=shopping.id%>?_method=DELETE" method="POST">
  <input type="submit" class="button" value="Delete">
  </form>
  <a href="/shopping/<%=shopping.id%>/edit">Edit Product</a>
</body>
</html>